# [FROM HERE](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

# [PART 4 - Python Pandas Tutorial (Part 4): Filtering - Using Conditionals to Filter Rows and Columns](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

# [Data FOUND/FROM HERE => ](https://survey.stackoverflow.co/)

# vid startup

In [ ]:
import pandas as pd

In [ ]:
people = {
    "first": ["Corny", "Jane", "John"],
    "email": ['CorneyMSchafer@gmail.com' , 'JaneDoe@email.com', 'JohnDoe@email.com'],
    "last": ['Schafer', 'Doe', 'Doe'],
}

In [ ]:
df = pd.DataFrame(people)
df.sort_index(inplace=False)

# unsorted

In [ ]:
df

# from the lst vid

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df

# test columns 'last' is equal 'Doe'

In [ ]:
df['last'] == 'Doe'

# define a variable with the filter condition

In [ ]:
result_filter = (df['last'] == 'Doe')

# call all df with the filter criteria

<div class="alert alert-block alert-warning"> 
 filter is a python function
 </div>

In [ ]:
df[result_filter]

## another way for inline filtering - not nice

In [ ]:
df[df['last'] == 'Doe']

## filtering onces field of filter criteria e.g. 'email'

In [ ]:
df.loc[result_filter,'email']

## filter with keyword AND => & / OR => |

In [ ]:
# you see two preference - interest of line do you look for / do you will select
result= (df['last'] == 'Doe' ) & ( df['first'] == 'John' )

## result

In [ ]:
# all field
df.loc[result,]

In [ ]:
# only field last
df.index
df.loc[result]

# or operator => |
# we will select all columns with las equal 'Schafer' OR equal 'John'

In [ ]:
result= (df['last'] == 'Schafer' ) | ( df['first'] == 'John' )

In [ ]:
df.loc[result]

# if we want select that NOT match this (opposite)  we add a sign tilde  => - before the result

In [ ]:
df.loc[~result,'email']

# start with large data frame and use filter condition

In [ ]:
import pandas as pd

# source link see yt video description
# df= pd.read_csv('data/survey_results_public.csv')
# add follow see Timestamp in the vid 8.46

# set the index of index.col - first column of each table
df_data= pd.read_csv('data/survey_results_public.csv',index_col='ResponseId')
df_schema = pd.read_csv('data/survey_results_schema.csv',index_col='qname')


# set max columns and rows
df_data_rows =len(df_data) 
pd.set_option('display.max_rows',df_data_rows)

df_data_columns = df_data.shape[0]
pd.set_option('display.max_columns',df_data_columns)

In [ ]:
df_data.head()

# covert column 'Age' to type 'int'

In [ ]:
# pd.to_numeric(ser, errors ='ignore')

df_data = df_data.astype({'YearsCode': int} , errors ='ignore')

# show type of columns 'YearsCode'

In [ ]:
df_data.loc['YearsCode']

# [Replace NaN with Zero](https://sparkbyexamples.com/pandas/pandas-replace-nan-values-by-zero-in-a-column/#:~:text=The%20primary%20method%20to%20replace,fillna(0)%20.)

# create a filter for column 'YearsCode'

In [ ]:
years_code = (df_data['YearsCode'] > 10)

In [ ]:
pd.set_option('display.max_rows',100)
df_data['YearsCode']

# [You can modify the existing DataFrame itself by using inplace param](https://sparkbyexamples.com/pandas/pandas-replace-nan-values-by-zero-in-a-column/#:~:text=The%20primary%20method%20to%20replace,fillna(0)%20.)

In [ ]:
df_data.fillna(0,inplace=True)

In [ ]:
df_data['YearsCode']

In [144]:
# Replace on single column

df_data['YearsCode'].fillna(0)

r = df_data['YearsCode'].fillna(0,inplace=True)

# df_data.fillna(0,inplace=True)
type(r)
df_data['YearsCode'].head()

column_type = df_data['YearsCode'].dtypes
# [FROM HERE](https://saturncloud.io/blog/how-to-convert-a-float64-column-to-int64-in-pandas/#:~:text=You%20can%20use%20the%20astype,column%20to%20an%20int64%20column.&text=In%20this%20code%2C%20we%20first,A%20to%20an%20int64%20column.)

# df['A'] = df['A'].astype('int64')
# df['YearsCode'] = df_data['YearsCode'].astype('int64')
# df.dtypes

# only convert columns A and C
df_data = df_data.assign(**df_data['YearsCode'].apply(pd.to_numeric, errors='ignore'))

/tmp/ipykernel_32517/504936387.py:19: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_data = df_data.assign(**df_data['YearsCode'].apply(pd.to_numeric, errors='ignore'))

TypeError: keywords must be strings

# compare condition

In [ ]:
# Why TypeError - "'>' not supported between instances of 'str' and 'int'"
# senior_dev = (df_data['YearsCode'] > 10)