# [FROM HERE](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

# [PART 4 - Python Pandas Tutorial (Part 4): Filtering - Using Conditionals to Filter Rows and Columns](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

# [Data FOUND/FROM HERE => ](https://survey.stackoverflow.co/)

# vid startup

In [ ]:
import pandas as pd

In [ ]:
people = {
    "first": ["Corny", "Jane", "John"],
    "email": ['CorneyMSchafer@gmail.com' , 'JaneDoe@email.com', 'JohnDoe@email.com'],
    "last": ['Schafer', 'Doe', 'Doe'],
}

In [ ]:
df = pd.DataFrame(people)
df.sort_index(inplace=False)

# unsorted

In [ ]:
df

# from the lst vid

In [ ]:
df.sort_index(inplace=True)

In [22]:
df

   first                     email     last
0  Corny  CorneyMSchafer@gmail.com  Schafer
1   Jane         JaneDoe@email.com      Doe
2   John         JohnDoe@email.com      Doe

# test columns 'last' is equal 'Doe'

In [17]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

# define a variable with the filter condition

In [23]:
filt = (df['last'] == 'Doe')

# call all df with the filter criteria

! filter is a python function

In [24]:
df[filt]

  first              email last
1  Jane  JaneDoe@email.com  Doe
2  John  JohnDoe@email.com  Doe