# [FROM HERE](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.replace.html)

## [DataFrame vs. Series](https://pandas.pydata.org/docs/user_guide/dsintro.html)

## [pandas-filter](https://builtin.com/data-science/pandas-filter)

Fundamentally, data alignment is intrinsic. The link between labels and data will not be broken unless done so explicitly by you.

>**Series** is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
>The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

>**DataFrame** is a 2-dimensional labeled data structure with columns of potentially different types.
>You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
>It is generally the most commonly used pandas object.

[Alert Box Usage Guidelines](https://gist.github.com/DanielKotik/4b81480c479a57e0dd13ac4d153e4451)

<div class="alert alert-block alert-info"> 
<b>NOTE</b> Use blue boxes for Tips and notes. 
</div>

<div class="alert alert-block alert-success"> 
 some specific purpose , like links
</div>

<div class="alert alert-block alert-warning"> 
 code cells, or use for mathematical formulas if needed.
 </div>

<div class="alert alert-block alert-danger">
AVOID
</div>

In [ ]:
# sample from web page

In [2]:
import pandas as pd

In [3]:
pandas_series = pd.Series([1, 2, 3, 4, 5])

# unmodified pandas_series
pandas_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# replace first column with value(int64) with 5
# pandas_serie.replace(column,substitute_value)
pandas_series.replace(1, 5)

0    5
1    2
2    3
3    4
4    5
dtype: int64

# GET type of series => A pandas Series has a single dtype.

In [5]:
pandas_series.dtype

dtype('int64')

<div class="alert alert-block alert-info">

# Axis labels
## Series: index (only axis)

## DataFrame: index (rows) and columns
</div>

# pandas data frame => df

In [14]:
data_frame = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

data_frame = pd.DataFrame(data_frame)

In [15]:
data_frame

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

# df change the index = change the order of columns

In [10]:
pd.DataFrame(d, index=["d", "b", "a", "c"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0
c  3.0  3.0

# select/show  available and non-existent columns

In [11]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

# Get type of each columns

# a simple data frame data as dict

In [25]:
dict = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

print(type(dict))

<class 'dict'>

# create data_frame from dict

In [26]:
data_frame = pd.DataFrame(dict)

# show index of data_frame

In [27]:
# print data_frame index
for i in data_frame:
    print(i)

one
two

# length of data_frame
## DataFrame: index (rows) and columns

In [ ]:
data_frame_len = len(data_frame)
print(" length/max index/max rows start by zero of data_frame =>  {}".format(data_frame_len))

 length/max index/max rows start by zero of data_frame 4

# loop over through data_frame

## index

In [35]:
for index in data_frame:
    print(index)

one
two

## rows

In [39]:
for i in range(len(data_frame)):
    row = data_frame.iloc
    print("row => {}".format(row[0]))

row => one    1.0
two    1.0
Name: a, dtype: float64
row => one    1.0
two    1.0
Name: a, dtype: float64
row => one    1.0
two    1.0
Name: a, dtype: float64
row => one    1.0
two    1.0
Name: a, dtype: float64

[save for next step](https://builtin.com/data-science/pandas-filter)

In [ ]:




# i = integer key , loc = line of code
data_frame.iloc

# we use the combination of *range* and *len* for get a integer
for i in range(len(data_frame)):
    row = data_frame.iloc[i]
    
    column =  row['one']
    print("column:row =>{}:{}".format(column,row))

    # if (type(column) == int):
    #     print("type int == {}".format(type(column)))
    # if (type(column) == str):
    #     print("type str == {}".format(type(column)))

one
two
column:row =>1.0:one    1.0
two    1.0
Name: a, dtype: float64
column:row =>2.0:one    2.0
two    2.0
Name: b, dtype: float64
column:row =>3.0:one    3.0
two    3.0
Name: c, dtype: float64
column:row =>nan:one    NaN
two    4.0
Name: d, dtype: float64

In [ ]:
for i in range(len(df_data)):
    row = df_data.iloc[i]
    # if Class == 'versicolor' and i < 70:
    column =  row['YearsCode']
    if (type(column) == int):
        print("type int == {}".format(type(column)))
    if (type(column) == str):
        print("type str == {}".format(type(column)))

        try:
            column = int(column)
        except (ValueError, TypeError):
            print("Error")
            pass 

    print('{} {}'.format(column , type(column)))