FROM HERE => [Python Pandas Tutorial (Part 2): DataFrame and Series Basics - Selecting Rows and Columns](https://www.youtube.com/watch?v=zmdjNSmRXF4)

[Data FROM HERE => ](https://survey.stackoverflow.co/)

In [ ]:
import pandas as pd

In [ ]:
# source link see yt video description
df= pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

## set max columns and rows

In [ ]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

## see the head of the huge csv file

In [ ]:
df.head()

## show schema

In [ ]:
schema_df

# create data frame

In [ ]:
people = {
    "first": ["Corny", "Jane", "John"],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CorneyMSchafer@gmail.com' , 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people['email']

# simple data frame

In [ ]:
import pandas as pd
# df is the name of data frame
df = pd.DataFrame(people)
people = pd.DataFrame(people)

In [ ]:
df

In [ ]:
people

## access of a single column at df vs. single column as list  inside a dict

In [ ]:
# type of data frame
type(df)

In [ ]:
# dict
type (people)

In [ ]:
# list inside a dict
type(people['email'])

In [ ]:
# str type of first element inside these list
type(people['email'][0])

# access to data of data frame

In [ ]:
# import pandas as pd
df.email

In [ ]:
# the same
df['email']

# df.count have each dta frame

In [ ]:
df.count

# access to special columns of data frame

In [ ]:
df[['first','email']]

# return a new sub data frame

In [ ]:
sub_data_frame = df[['first','email']]

In [ ]:
sub_data_frame

In [ ]:
# new sub data frame

In [ ]:
type(sub_data_frame)

# show columns of data frame

In [ ]:
df.columns

In [ ]:
sub_data_frame.columns

# iloc and loc access to data in the columns

* inside the row are the column name the index *

## get the first row - start by 0

In [ ]:
df.iloc[0]

# select multiple rows by index - in this case the first and the last

## iloc stand for => index location -> iloc

In [ ]:
## [rows] [columns]
df.loc[[0,1],['first','last']]
# df.iloc[[0,1],[0,1]]

## compare to all rows

In [ ]:
df.email

# label of indexes of row see you in the first columns

In [ ]:
df.loc[0]

# you can show 0, 2 row

In [102]:
# [rows] [columns]
# [0,2],['email','last']
df.loc[[0,2],['email','last']]

                      email     last
0  CorneyMSchafer@gmail.com  Schafer
2         JohnDoe@email.com      Doe