# [FROM HERE](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

# [PART 3 - Python Pandas Tutorial (Part 3): Indexes - How to Set, Reset, and Use Indexes](https://www.youtube.com/watch?v=W9XjRYFkkyw&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=5)

# [Data FROM HERE => ](https://survey.stackoverflow.co/)

In [ ]:
import pandas as pd

In [ ]:
people = {
    "first": ["Corny", "Jane", "John"],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CorneyMSchafer@gmail.com' , 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
type(df)

# index

In [ ]:
df['email']

# set index - headline

In [ ]:
df.set_index('email')

In [ ]:
df

# get index column

In [ ]:
df.set_index('email')
#df.index

In [ ]:
# CorneyMSchafer@gmail.com
df.loc['CorneyMSchafer@gmail.com','last' ]

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
#  df.loc['CorneyMSchafer@gmail.com','last' ]

In [ ]:
df.reset_index(inplace=True)

In [17]:
df

   index  first     last                     email
0      0  Corny  Schafer  CorneyMSchafer@gmail.com
1      1   Jane      Doe         JaneDoe@email.com
2      2   John      Doe         JohnDoe@email.com